Instalando o módulo newspaper3k para ajudar a fazer o parsing dos documentos:

In [ ]:
!pip3 install newspaper3k

In [10]:
queries, corpus = [], []

Baixando o dataset disponibilizado pelo paper "Re-ranking Web Search Results for Better Fact-Checking: A Preliminary Study"

In [ ]:
!wget https://raw.githubusercontent.com/tassilucas/ir-project/master/dataset/data.jsonl

Processando o jsonl para um objeto python:

In [12]:
import json

data = []

with open("data.jsonl") as f:
  data = [json.loads(line) for line in f]

In [ ]:
y_target = {}

labels = {'Non-relevant': 1, 'Relevant but not useful': 2, 'Relevant and useful': 3, 'Relevant and very useful': 4}

for c in data:
  y_target[c['claim']] = []
  for r in c['results']:
    print("URL: {} / {} -> {}".format(r['url'], r['judgment'], labels[r['judgment']]))
    y_target[c['claim']].append(labels[r['judgment']])
  print('======================================')

Obtendo os conteudos disponibilizados nas URLs com ajuda de Article fornecido por newspaper3k:

In [ ]:
from newspaper import Article

texts = {}

for d in data:
  dict_name = d['claim']
  texts[dict_name] = []
  for res in d['results']:
    url = res['url']
    article = Article(url)
    article.download()
    try:
      article.parse()
      # print("{} -> {}".format(url, article.meta_description))
    except:
      # print("$ Failt to retrieve {}".format(url))

    texts[dict_name].append(article.meta_description + " " + article.text)

  print('--------------------')

Documentos obtidos:

In [ ]:
texts

Agora, calculando os valores das features. Todos são normalizados e são encontrados no intervalo de [0, 1].

Encontrando valor da feature de similaridade de cosseno com TF-IDF entre queries e documentos:

In [16]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

def cos_similarity(texts):
  df2 = pd.DataFrame()
  similarities = []

  for query, docs in texts.items():
    df = \
        pd.DataFrame({'text' : docs})

    vectorizer = TfidfVectorizer()

    tfidf = vectorizer.fit_transform(df['text'].values.astype('U'))
    words = vectorizer.get_feature_names()

    queryTFIDF = TfidfVectorizer().fit(words)

    queryTFIDF = queryTFIDF.transform([query])

    similarities.append(cosine_similarity(queryTFIDF, tfidf).flatten())

    similarities_dict = {}

  z = 0
  for query in texts.keys():
    similarities_dict[query] = similarities[z]
    z += 1
    
  return similarities_dict

Encontrando os valores da feature de fontes oficiais dos documentos:

In [17]:
def find_official_sources():
  official_sources = {}

  for d in data:
    name = d['claim']
    official_sources[name] = []
    for res in d['results']:
      if ".gov" in res['url']:
        print("{} is a government/official source.".format(res['url']))
        official_sources[name].append(1)
      else:
        official_sources[name].append(0)
  
  return official_sources

Encontrando os valores da feature de contagem de números (estatisticas) dos documentos:

In [18]:
import re

def find_number_count(texts):
  number_count = {}

  for k, v in texts.items():
    number_count[k] = []
    for doc in v:
      res = re.findall('[0-9]+', doc)
      number_count[k].append(len(res)*0.1)

  # Colocando valores entre [0, 1]
  for k, v in number_count.items():
    number_count[k] = [float(i)/sum(v) for i in v]
  
  return number_count

Obtendo os valores das features de frequência de exclamações e interrogações:

In [19]:
def find_freq_relations(texts):
  freq_relations = {}

  for k, v in texts.items():
    freq_relations[k] = []
    for doc in v:
      freq_exclamation = doc.count('!') * -1
      freq_interrogation = doc.count('?') * -1
      freq_relations[k].append(freq_exclamation + freq_interrogation)

  minVal = min(freq_relations[k])
  maxVal = max(freq_relations[k])
  maxRange = 1
  minRange = 0

  # Normalizando valores:
  for k, v in freq_relations.items():
    freq_relations[k] = [(((float(value) - minVal) / float((maxVal- minVal))) *  float((maxRange - minRange)) + minRange) for value in v]
  
  return freq_relations

Aqui, é instalado a biblioteca textacy para realizar parsing eficiente de citações em um documento e então utilizar essas informações para encontrar os valores da feature de citações nos documentos:

In [ ]:
!pip install textacy

In [ ]:
!python -m spacy download en_core_web_sm

In [22]:
import textacy

def find_quote_count(texts):
  claim_dict = {}

  for k, v in texts.items():

    claim_dict[k] = []
    for t in v:
      doc = textacy.make_spacy_doc(t, lang='en_core_web_sm')
      quote_count_doc = 0
      try:
        res = textacy.extract.triples.direct_quotations(doc)
        for x in list(res):
          quote_count_doc += 1
      except:
        claim_dict[k].append(0)
        continue
      
      claim_dict[k].append(quote_count_doc)
  
  # Colocando valores entre [0, 1]
  for k, v in claim_dict.items():
    claim_dict[k] = [float(i)/sum(v) for i in v]
    
  return claim_dict

Agora, um código (meio bagunçado) para criar um dataframe com todos estes dados recolhidos durante o notebook:

In [ ]:
def create_lines(claim, columns):
  new_array = []
  for line_ref in range(0, len(columns[1])):
    line = []
    line.append(claim)
    for col in range(0, len(columns)):
      line.append(columns[col][line_ref])
    line_ref += 1
    new_array.append(line)

  return new_array

last = 0
res = 0

similarities_dict = cos_similarity(texts)
official_sources = find_official_sources()
number_count = find_number_count(texts)
freq_relations = find_freq_relations(texts)
claim_dict = find_quote_count(texts)

for i, claim_reference_str in enumerate(texts.keys()):
  data_columns = []
  data_columns.append(similarities_dict[claim_reference_str])
  data_columns.append(official_sources[claim_reference_str])
  data_columns.append(number_count[claim_reference_str])
  data_columns.append(freq_relations[claim_reference_str])
  data_columns.append(claim_dict[claim_reference_str])
  data_columns.append(y_target[claim_reference_str])
  data = create_lines(claim_reference_str, data_columns)
  new_frame = pd.DataFrame(data, columns = ['Claim', 'Cosine Similarity (TF-ID)', 'Official Resource', 'Numbers', 'Exclamation/Interrogation', 'Quotes', 'Label'])
  
  if i != 0:
    res = pd.concat([last, new_frame])
    last = res
  else:
    res = new_frame
    last = new_frame

In [25]:
res

                                                Claim  ...  Label
0   de beers is fighting lab-made diamonds with bl...  ...      2
1   de beers is fighting lab-made diamonds with bl...  ...      3
2   de beers is fighting lab-made diamonds with bl...  ...      3
3   de beers is fighting lab-made diamonds with bl...  ...      2
4   de beers is fighting lab-made diamonds with bl...  ...      1
..                                                ...  ...    ...
15  the federal government pays $120 million in re...  ...      1
16  the federal government pays $120 million in re...  ...      1
17  the federal government pays $120 million in re...  ...      4
18  the federal government pays $120 million in re...  ...      1
19  the federal government pays $120 million in re...  ...      1

[438 rows x 7 columns]

Separando agora os resultados obtidos em dois, um para treino (80% do dataset) e outro para teste (20% do dataset) de maneira randomica:

In [26]:
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(res, test_size=0.2, random_state=25)

Dataframe de treino:

In [27]:
train_data

                                                Claim  ...  Label
4   de beers is fighting lab-made diamonds with bl...  ...      1
16  immigrants are causing a rise in anti-semitism...  ...      4
1   e-commerce sales in UK increased by 8 billions...  ...      2
11  Israel caused flooding in Gaza by opening rive...  ...      3
4        NAFTA has negatively impacted the US economy  ...      2
..                                                ...  ...    ...
16  around 83% of students with a student loan are...  ...      2
0      knives kill more people in the US than guns do  ...      2
4   The U.S. has the highest corporate tax rate in...  ...      3
1      knives kill more people in the US than guns do  ...      3
13  hundreds die in flint every year because of po...  ...      2

[350 rows x 7 columns]

Criando um arquivo formatado adequadamente do dataset train_data para servir como input na ferramenta SVM-Rank:

In [28]:
qid = 1

with open('train.dat', 'w') as td:
  for query in claim_dict.keys():
    d = train_data.loc[train_data['Claim'] == query]
    for index, row in d.iterrows():
      td.write("{} qid:{} 1:{:.1f} 2:{} 3:{:.1f} 4:{:.1f} 5:{:.1f}\n".format(row['Label'], qid, row['Cosine Similarity (TF-ID)'], row['Official Resource'],
                                                                            row['Numbers'], row['Exclamation/Interrogation'], row['Quotes']))
    qid += 1

In [29]:
!cat train.dat

1 qid:1 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:1 1:0.0 2:0 3:0.0 4:0.8 5:0.0
1 qid:1 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:1 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:1 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:1 1:0.0 2:0 3:0.0 4:1.0 5:0.0
3 qid:1 1:0.2 2:0 3:0.1 4:1.0 5:0.7
3 qid:1 1:0.3 2:0 3:0.0 4:1.0 5:0.0
1 qid:1 1:0.2 2:0 3:0.1 4:1.0 5:0.0
2 qid:1 1:0.0 2:0 3:0.0 4:1.0 5:0.0
3 qid:1 1:0.2 2:0 3:0.1 4:0.8 5:0.0
2 qid:1 1:0.2 2:0 3:0.0 4:1.0 5:0.0
3 qid:1 1:0.2 2:0 3:0.1 4:0.6 5:0.0
3 qid:1 1:0.0 2:0 3:0.0 4:1.0 5:0.0
3 qid:1 1:0.2 2:0 3:0.3 4:0.8 5:0.0
3 qid:1 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:1 1:0.0 2:0 3:0.0 4:0.8 5:0.0
1 qid:1 1:0.0 2:0 3:0.0 4:1.0 5:0.0
3 qid:1 1:0.2 2:0 3:0.0 4:0.8 5:0.3
2 qid:2 1:0.3 2:0 3:0.0 4:1.0 5:0.0
2 qid:2 1:0.0 2:0 3:0.0 4:0.8 5:0.0
4 qid:2 1:0.3 2:0 3:0.2 4:-0.8 5:0.0
2 qid:2 1:0.3 2:0 3:0.0 4:1.0 5:0.0
4 qid:2 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:2 1:0.3 2:0 3:0.0 4:1.0 5:0.0
3 qid:2 1:0.3 2:0 3:0.0 4:0.6 5:0.0
3 qid:2 1:0.0 2:1 3:0.0 4:1.0 5:0.0
2 qid:2 1:0.3 2:0 3:0.0 4:1.0 5:0.1
3 qid:2 1:0.3 2:0 3:0.1 4:1.0 5:0.0
3 qid:2 1:0.3 2:0 3:0.0 4:1.0 5:0.0
2 qid:2 1:0.3 2:0 3:0.0 4:-0.4 5:0.4
4 qid:2 1:0.4 2:0 3:0.1 4:-0.4 5:0.0
4 qid:2 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:2 1:0.3 2:0 3:0.0 4:1.0 5:0.0
4 qid:2 1:0.4 2:0 3:0.4 4:-1.4 5:0.0
2 qid:3 1:0.3 2:0 3:0.0 4:1.0 5:0.0
3 qid:3 1:0.3 2:0 3:0.0 4:1.0 5:0.0
2 qid:3 1:0.3 2:0 3:0.0 4:1.0 5:0.0
2 qid:3 1:0.3 2:0 3:0.0 4:0.6 5:0.0
2 qid:3 1:0.3 2:0 3:0.0 4:1.0 5:0.0
2 qid:3 1:0.2 2:0 3:0.2 4:1.0 5:0.0
3 qid:3 1:0.3 2:0 3:0.0 4:1.0 5:0.0
2 qid:3 1:0.3 2:0 3:0.0 4:1.0 5:0.0
1 qid:3 1:0.2 2:0 3:0.0 4:1.0 5:0.1
3 qid:3 1:0.3 2:0 3:0.0 4:1.0 5:0.0
2 qid:3 1:0.3 2:0 3:0.0 4:1.0 5:0.1
2 qid:3 1:0.3 2:0 3:0.0 4:1.0 5:0.0
3 qid:3 1:0.0 2:0 3:0.0 4:1.0 5:0.0
3 qid:3 1:0.3 2:0 3:0.0 4:1.0 5:0.0
2 qid:3 1:0.0 2:0 3:0.0 4:1.0 5:0.0
3 qid:3 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:3 1:0.2 2:0 3:0.7 4:0.4 5:0.6
2 qid:3 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:3 1:0.3 2:0 3:0.0 4:1.0 5:0.1
3 qid:4 1:0.4 2:0 3:0.1 4:0.8 5:0.2
2 qid:4 1:0.4 2:0 3:0.0 4:1.0 5:0.0
3 qid:4 1:0.4 2:0 3:0.1 4:0.8 5:0.0
2 qid:4 1:0.3 2:0 3:0.2 4:0.6 5:0.2
3 qid:4 1:0.5 2:0 3:0.0 4:1.0 5:0.0
2 qid:4 1:0.3 2:0 3:0.1 4:0.6 5:0.2
3 qid:4 1:0.4 2:0 3:0.0 4:1.0 5:0.0
1 qid:4 1:0.4 2:0 3:0.0 4:1.0 5:0.0
3 qid:4 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:4 1:0.4 2:0 3:0.1 4:1.0 5:0.0
2 qid:4 1:0.2 2:0 3:0.0 4:1.0 5:0.0
2 qid:4 1:0.0 2:0 3:0.0 4:1.0 5:0.0
4 qid:4 1:0.5 2:0 3:0.1 4:1.0 5:0.0
3 qid:4 1:0.3 2:0 3:0.0 4:0.6 5:0.0
4 qid:5 1:0.0 2:1 3:0.0 4:1.0 5:0.0
2 qid:5 1:0.2 2:0 3:0.0 4:1.0 5:0.0
3 qid:5 1:0.3 2:0 3:0.1 4:0.2 5:0.0
2 qid:5 1:0.1 2:0 3:0.0 4:1.0 5:0.0
1 qid:5 1:0.3 2:0 3:0.0 4:1.0 5:0.2
3 qid:5 1:0.2 2:0 3:0.0 4:0.8 5:0.0
2 qid:5 1:0.2 2:0 3:0.2 4:0.2 5:0.0
3 qid:5 1:0.3 2:0 3:0.0 4:1.0 5:0.0
3 qid:5 1:0.0 2:0 3:0.0 4:1.0 5:0.0
3 qid:5 1:0.3 2:0 3:0.1 4:0.8 5:0.0
2 qid:5 1:0.2 2:0 3:0.0 4:1.0 5:0.1
3 qid:5 1:0.2 2:0 3:0.5 4:1.0 5:0.0
2 qid:5 1:0.3 2:0 3:0.0 4:1.0 5:0.2
2 qid:5 1:0.3 2:0 3:0.0 4:1.0 5:0.0
3 qid:5 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:5 1:0.2 2:0 3:0.0 4:1.0 5:0.0
3 qid:5 1:0.2 2:0 3:0.0 4:1.0 5:0.1
2 qid:6 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:6 1:0.1 2:0 3:0.0 4:0.6 5:0.0
2 qid:6 1:0.2 2:0 3:0.1 4:-1.0 5:0.2
2 qid:6 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:6 1:0.3 2:0 3:0.0 4:0.8 5:0.1
2 qid:6 1:0.3 2:0 3:0.0 4:1.0 5:0.1
2 qid:6 1:0.2 2:0 3:0.0 4:0.6 5:0.0
2 qid:6 1:0.3 2:0 3:0.0 4:1.0 5:0.0
2 qid:6 1:0.2 2:0 3:0.1 4:0.2 5:0.1
2 qid:6 1:0.2 2:0 3:0.3 4:0.8 5:0.0
2 qid:6 1:0.2 2:0 3:0.0 4:1.0 5:0.0
2 qid:6 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:6 1:0.4 2:0 3:0.1 4:0.8 5:0.1
3 qid:7 1:0.3 2:0 3:0.7 4:0.8 5:0.0
2 qid:7 1:0.3 2:0 3:0.1 4:0.8 5:0.0
1 qid:7 1:0.2 2:0 3:0.0 4:0.4 5:0.0
2 qid:7 1:0.2 2:0 3:0.0 4:0.0 5:0.0
2 qid:7 1:0.1 2:0 3:0.0 4:1.0 5:0.0
2 qid:7 1:0.2 2:0 3:0.0 4:-0.4 5:0.0
2 qid:7 1:0.2 2:0 3:0.0 4:0.4 5:0.2
2 qid:7 1:0.3 2:0 3:0.0 4:1.0 5:0.4
3 qid:7 1:0.2 2:0 3:0.0 4:1.0 5:0.0
2 qid:7 1:0.3 2:0 3:0.0 4:-0.8 5:0.0
2 qid:7 1:0.2 2:0 3:0.0 4:0.6 5:0.1
2 qid:7 1:0.2 2:0 3:0.0 4:1.0 5:0.2
2 qid:7 1:0.3 2:0 3:0.0 4:-2.2 5:0.0
2 qid:7 1:0.3 2:0 3:0.0 4:1.0 5:0.0
2 qid:7 1:0.2 2:0 3:0.0 4:1.0 5:0.0
2 qid:7 1:0.3 2:0 3:0.0 4:0.8 5:0.0
3 qid:8 1:0.6 2:0 3:0.3 4:0.4 5:0.0
3 qid:8 1:0.6 2:0 3:0.0 4:1.0 5:0.0
2 qid:8 1:0.5 2:0 3:0.0 4:0.8 5:0.0
2 qid:8 1:0.0 2:0 3:0.0 4:1.0 5:0.0
3 qid:8 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:8 1:0.6 2:0 3:0.0 4:1.0 5:0.0
1 qid:8 1:0.2 2:0 3:0.0 4:1.0 5:0.0
2 qid:8 1:0.5 2:0 3:0.5 4:1.0 5:0.0
4 qid:8 1:0.6 2:0 3:0.0 4:0.0 5:0.2
3 qid:8 1:0.6 2:0 3:0.0 4:1.0 5:0.1
1 qid:8 1:0.0 2:0 3:0.0 4:1.0 5:0.0
3 qid:8 1:0.7 2:0 3:0.0 4:0.8 5:0.0
3 qid:8 1:0.6 2:0 3:0.0 4:1.0 5:0.1
4 qid:8 1:0.7 2:0 3:0.0 4:1.0 5:0.1
2 qid:8 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:8 1:0.2 2:0 3:0.0 4:1.0 5:0.0
1 qid:8 1:0.0 2:0 3:0.0 4:1.0 5:0.0
3 qid:8 1:0.6 2:0 3:0.0 4:1.0 5:0.2
3 qid:9 1:0.2 2:0 3:0.2 4:0.6 5:0.0
2 qid:9 1:0.2 2:0 3:0.0 4:0.4 5:0.0
2 qid:9 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:9 1:0.2 2:0 3:0.1 4:1.0 5:0.0
3 qid:9 1:0.3 2:0 3:0.0 4:0.0 5:0.0
2 qid:9 1:0.3 2:0 3:0.0 4:0.4 5:0.0
2 qid:9 1:0.2 2:0 3:0.0 4:1.0 5:0.0
2 qid:9 1:0.2 2:0 3:0.1 4:-0.2 5:0.0
1 qid:9 1:0.2 2:0 3:0.0 4:1.0 5:0.8
3 qid:9 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:9 1:0.3 2:0 3:0.2 4:1.0 5:0.0
1 qid:9 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:9 1:0.2 2:0 3:0.0 4:0.6 5:0.0
1 qid:10 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:10 1:0.4 2:0 3:0.1 4:-0.6 5:0.2
1 qid:10 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:10 1:0.3 2:0 3:0.0 4:1.0 5:0.0
1 qid:10 1:0.2 2:0 3:0.0 4:1.0 5:0.0
1 qid:10 1:0.1 2:0 3:0.0 4:1.0 5:0.0
3 qid:10 1:0.3 2:0 3:0.0 4:0.2 5:0.1
2 qid:10 1:0.0 2:0 3:0.0 4:1.0 5:0.0
3 qid:10 1:0.1 2:0 3:0.0 4:1.0 5:0.0
1 qid:10 1:0.2 2:0 3:0.0 4:0.8 5:0.0
1 qid:10 1:0.3 2:0 3:0.0 4:0.4 5:0.2
1 qid:10 1:0.2 2:0 3:0.0 4:1.0 5:0.1
1 qid:10 1:0.2 2:0 3:0.0 4:0.4 5:0.1
1 qid:10 1:0.3 2:0 3:0.1 4:0.6 5:0.0
1 qid:10 1:0.2 2:0 3:0.4 4:1.0 5:0.1
3 qid:10 1:0.0 2:0 3:0.0 4:1.0 5:0.0
3 qid:11 1:0.2 2:0 3:0.0 4:1.0 5:0.0
2 qid:11 1:0.3 2:0 3:0.0 4:1.0 5:0.1
3 qid:11 1:0.3 2:0 3:0.0 4:1.0 5:0.1
3 qid:11 1:0.3 2:0 3:0.0 4:0.6 5:0.1
2 qid:11 1:0.0 2:0 3:0.0 4:1.0 5:0.0
3 qid:11 1:0.2 2:0 3:0.0 4:1.0 5:0.0
1 qid:11 1:0.1 2:0 3:0.0 4:0.6 5:0.1
3 qid:11 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:11 1:0.1 2:0 3:0.0 4:0.4 5:0.0
2 qid:11 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:11 1:0.2 2:0 3:0.2 4:-10.4 5:0.0
3 qid:11 1:0.4 2:0 3:0.0 4:1.0 5:0.0
2 qid:11 1:0.1 2:0 3:0.0 4:0.8 5:0.0
1 qid:11 1:0.2 2:0 3:0.0 4:1.0 5:0.0
1 qid:11 1:0.1 2:0 3:0.6 4:1.0 5:0.0
3 qid:11 1:0.3 2:0 3:0.0 4:0.8 5:0.2
1 qid:12 1:0.2 2:0 3:0.0 4:1.0 5:0.1
1 qid:12 1:0.3 2:0 3:0.0 4:1.0 5:0.0
1 qid:12 1:0.1 2:0 3:0.0 4:1.0 5:0.0
1 qid:12 1:0.1 2:0 3:0.0 4:1.0 5:0.0
1 qid:12 1:0.3 2:0 3:0.0 4:0.6 5:0.2
2 qid:12 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:12 1:0.2 2:0 3:0.0 4:0.8 5:0.0
2 qid:12 1:0.1 2:0 3:0.0 4:1.0 5:0.0
1 qid:12 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:12 1:0.3 2:0 3:0.0 4:1.0 5:0.1
2 qid:12 1:0.3 2:0 3:0.0 4:-0.2 5:0.6
1 qid:12 1:0.2 2:0 3:0.0 4:0.8 5:0.0
1 qid:12 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:12 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:12 1:0.1 2:0 3:0.0 4:-1.0 5:0.0
1 qid:12 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:12 1:0.3 2:0 3:0.0 4:0.6 5:0.0
2 qid:13 1:0.4 2:0 3:0.2 4:-3.0 5:0.2
1 qid:13 1:0.1 2:0 3:0.0 4:1.0 5:0.0
2 qid:13 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:13 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:13 1:0.3 2:0 3:0.1 4:-0.6 5:0.4
1 qid:13 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:13 1:0.5 2:0 3:0.0 4:0.6 5:0.0
1 qid:13 1:0.2 2:0 3:0.0 4:1.0 5:0.0
2 qid:13 1:0.4 2:0 3:0.0 4:-1.2 5:0.0
1 qid:13 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:13 1:0.3 2:0 3:0.0 4:0.4 5:0.3
1 qid:13 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:13 1:0.5 2:0 3:0.0 4:1.0 5:0.0
1 qid:13 1:0.2 2:0 3:0.0 4:-0.8 5:0.0
1 qid:13 1:0.0 2:0 3:0.0 4:1.0 5:0.0
3 qid:14 1:0.2 2:0 3:0.4 4:0.6 5:0.0
1 qid:14 1:0.2 2:0 3:0.0 4:0.4 5:0.0
1 qid:14 1:0.2 2:0 3:0.0 4:1.0 5:0.0
4 qid:14 1:0.0 2:0 3:0.0 4:1.0 5:0.0
3 qid:14 1:0.3 2:0 3:0.0 4:0.6 5:0.0
2 qid:14 1:0.2 2:0 3:0.0 4:1.0 5:0.0
2 qid:14 1:0.0 2:0 3:0.0 4:1.0 5:0.0
3 qid:14 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:14 1:0.1 2:0 3:0.0 4:0.6 5:0.0
2 qid:14 1:0.2 2:0 3:0.1 4:-0.4 5:0.0
3 qid:14 1:0.3 2:0 3:0.1 4:-1.0 5:0.1
2 qid:14 1:0.0 2:1 3:0.0 4:1.0 5:0.0
2 qid:14 1:0.2 2:0 3:0.0 4:1.0 5:0.4
2 qid:14 1:0.2 2:0 3:0.0 4:0.8 5:0.2
2 qid:14 1:0.2 2:0 3:0.1 4:-0.4 5:0.3
2 qid:14 1:0.2 2:0 3:0.0 4:1.0 5:0.0
2 qid:14 1:0.2 2:0 3:0.0 4:1.0 5:0.0
3 qid:15 1:0.3 2:0 3:0.1 4:0.2 5:0.3
1 qid:15 1:0.2 2:0 3:0.0 4:-0.4 5:0.1
1 qid:15 1:0.2 2:0 3:0.0 4:0.6 5:0.0
1 qid:15 1:0.2 2:0 3:0.0 4:0.2 5:0.0
1 qid:15 1:0.3 2:0 3:0.0 4:1.0 5:0.0
1 qid:15 1:0.2 2:0 3:0.0 4:0.6 5:0.4
1 qid:15 1:0.2 2:0 3:0.0 4:0.6 5:0.1
3 qid:15 1:0.3 2:0 3:0.0 4:1.0 5:0.0
2 qid:15 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:15 1:0.3 2:0 3:0.0 4:-0.4 5:0.0
1 qid:15 1:0.2 2:0 3:0.0 4:1.0 5:0.0
1 qid:15 1:0.2 2:0 3:0.0 4:0.8 5:0.0
1 qid:15 1:0.2 2:0 3:0.0 4:-0.4 5:0.0
2 qid:16 1:0.2 2:0 3:0.4 4:-1.2 5:0.0
1 qid:16 1:0.3 2:0 3:0.1 4:0.8 5:0.0
2 qid:16 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:16 1:0.2 2:0 3:0.0 4:1.0 5:0.0
2 qid:16 1:0.2 2:0 3:0.0 4:1.0 5:0.1
2 qid:16 1:0.3 2:0 3:0.0 4:0.0 5:0.0
1 qid:16 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:16 1:0.0 2:0 3:0.0 4:1.0 5:0.0
3 qid:16 1:0.3 2:0 3:0.0 4:0.2 5:0.2
1 qid:16 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:16 1:0.2 2:0 3:0.0 4:0.4 5:0.0
1 qid:16 1:0.2 2:0 3:0.2 4:0.4 5:0.0
1 qid:16 1:0.2 2:0 3:0.0 4:-3.8 5:0.0
4 qid:16 1:0.2 2:0 3:0.1 4:0.2 5:0.3
2 qid:17 1:0.3 2:0 3:0.0 4:0.8 5:0.0
2 qid:17 1:0.2 2:0 3:0.0 4:1.0 5:0.0
2 qid:17 1:0.1 2:0 3:0.0 4:1.0 5:0.0
4 qid:17 1:0.0 2:1 3:0.0 4:1.0 5:0.0
2 qid:17 1:0.2 2:0 3:0.0 4:0.4 5:0.0
2 qid:17 1:0.4 2:0 3:0.0 4:-1.4 5:0.0
1 qid:17 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:17 1:0.3 2:0 3:0.0 4:0.8 5:0.0
2 qid:17 1:0.1 2:0 3:0.0 4:1.0 5:0.0
1 qid:17 1:0.2 2:0 3:0.1 4:0.4 5:0.0
1 qid:17 1:0.3 2:0 3:0.7 4:0.6 5:0.4
2 qid:17 1:0.4 2:0 3:0.0 4:0.0 5:0.1
3 qid:17 1:0.2 2:0 3:0.0 4:1.0 5:0.0
3 qid:17 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:17 1:0.4 2:0 3:0.0 4:1.0 5:0.0
3 qid:17 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:18 1:0.2 2:0 3:0.1 4:0.8 5:0.0
1 qid:18 1:0.3 2:0 3:0.1 4:1.0 5:1.0
2 qid:18 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:18 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:18 1:0.0 2:0 3:0.0 4:1.0 5:0.0
3 qid:18 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:18 1:0.3 2:0 3:0.1 4:1.0 5:0.0
1 qid:18 1:0.3 2:0 3:0.3 4:0.6 5:0.0
1 qid:18 1:0.2 2:0 3:0.0 4:1.0 5:0.0
1 qid:18 1:0.2 2:0 3:0.1 4:-4.2 5:0.0
2 qid:18 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:18 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:18 1:0.0 2:1 3:0.0 4:1.0 5:0.0
2 qid:18 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:18 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:18 1:0.2 2:0 3:0.1 4:0.8 5:0.0
4 qid:18 1:0.2 2:1 3:0.1 4:1.0 5:0.0
2 qid:19 1:0.0 2:0 3:0.0 4:1.0 5:0.0
3 qid:19 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:19 1:0.4 2:0 3:0.2 4:1.0 5:0.0
4 qid:19 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:19 1:0.0 2:0 3:0.0 4:1.0 5:0.0
4 qid:19 1:0.0 2:0 3:0.0 4:1.0 5:0.0
4 qid:19 1:0.3 2:0 3:0.8 4:1.0 5:1.0
1 qid:19 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:19 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:19 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:19 1:0.0 2:1 3:0.0 4:1.0 5:0.0
1 qid:19 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:19 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:19 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:19 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:19 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:19 1:0.0 2:1 3:0.0 4:1.0 5:0.0
3 qid:20 1:0.3 2:0 3:0.0 4:1.0 5:0.0
3 qid:20 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:20 1:0.3 2:0 3:0.4 4:0.8 5:0.0
3 qid:20 1:0.4 2:0 3:0.0 4:0.8 5:0.1
1 qid:20 1:0.3 2:0 3:0.0 4:1.0 5:0.0
1 qid:20 1:0.2 2:0 3:0.0 4:0.8 5:0.0
2 qid:20 1:0.4 2:0 3:0.0 4:1.0 5:0.0
3 qid:20 1:0.4 2:0 3:0.0 4:0.8 5:0.0
1 qid:20 1:0.3 2:1 3:0.0 4:0.8 5:0.0
3 qid:20 1:0.3 2:0 3:0.0 4:1.0 5:0.1
1 qid:20 1:0.4 2:0 3:0.3 4:1.0 5:0.0
1 qid:20 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:20 1:0.1 2:1 3:0.0 4:1.0 5:0.0
2 qid:20 1:0.4 2:0 3:0.0 4:1.0 5:0.1
1 qid:20 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:20 1:0.2 2:0 3:0.1 4:0.8 5:0.0
4 qid:21 1:0.5 2:1 3:0.3 4:1.0 5:0.0
1 qid:21 1:0.3 2:0 3:0.0 4:1.0 5:0.1
2 qid:21 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:21 1:0.3 2:0 3:0.0 4:1.0 5:0.2
3 qid:21 1:0.4 2:0 3:0.1 4:0.8 5:0.0
3 qid:21 1:0.4 2:0 3:0.1 4:0.8 5:0.2
3 qid:21 1:0.4 2:0 3:0.1 4:1.0 5:0.0
1 qid:21 1:0.0 2:1 3:0.0 4:1.0 5:0.0
1 qid:21 1:0.4 2:0 3:0.2 4:0.8 5:0.4
1 qid:21 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:21 1:0.0 2:1 3:0.0 4:1.0 5:0.0
1 qid:21 1:0.0 2:0 3:0.0 4:1.0 5:0.0
2 qid:21 1:0.3 2:0 3:0.0 4:0.8 5:0.1
3 qid:21 1:0.0 2:1 3:0.0 4:1.0 5:0.0
1 qid:22 1:0.0 2:1 3:0.0 4:1.0 5:0.0
4 qid:22 1:0.0 2:1 3:0.0 4:1.0 5:0.0
1 qid:22 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:22 1:0.1 2:0 3:0.0 4:1.0 5:0.0
1 qid:22 1:0.1 2:0 3:0.0 4:0.8 5:0.0
1 qid:22 1:0.0 2:1 3:0.0 4:1.0 5:0.0
1 qid:22 1:0.4 2:0 3:0.2 4:1.0 5:0.0
1 qid:22 1:0.1 2:0 3:0.0 4:1.0 5:0.0
1 qid:22 1:0.0 2:0 3:0.0 4:1.0 5:0.0
1 qid:22 1:0.4 2:1 3:0.0 4:0.8 5:0.2
1 qid:22 1:0.3 2:0 3:0.1 4:0.6 5:0.0
1 qid:22 1:0.0 2:1 3:0.0 4:1.0 5:0.0
2 qid:22 1:0.4 2:0 3:0.1 4:0.0 5:0.6
1 qid:22 1:0.0 2:1 3:0.0 4:1.0 5:0.0
1 qid:22 1:0.1 2:0 3:0.0 4:0.8 5:0.0
1 qid:22 1:0.0 2:1 3:0.0 4:1.0 5:0.0
1 qid:22 1:0.3 2:0 3:0.1 4:1.0 5:0.0

In [30]:
test_data

                                                Claim  ...  Label
18  58 published papers say that climate change is...  ...      2
12  58 published papers say that climate change is...  ...      1
15  immigrants are causing a rise in anti-semitism...  ...      3
3   trump signed an order allowing veterans to get...  ...      3
19     knives kill more people in the US than guns do  ...      2
..                                                ...  ...    ...
6   around 83% of students with a student loan are...  ...      2
17  Buses were lining up to drop protesters in ant...  ...      2
5   the members of Decapitated face prison sentenc...  ...      2
5      knives kill more people in the US than guns do  ...      1
5   54 percent of hate crimes in the united states...  ...      3

[88 rows x 7 columns]

Criando um arquivo formatado adequadamente do dataset test_data para servir como input na ferramenta SVM-Rank:

In [34]:
qid = 1

with open("test.dat", "w") as test_file:
  for query in claim_dict.keys():
    d = test_data.loc[test_data['Claim'] == query]
    for index, row in d.iterrows():
      test_file.write("{} qid:{} 1:{:.1f} 2:{} 3:{:.1f} 4:{:.1f} 5:{:.1f}\n".format(row['Label'], qid, row['Cosine Similarity (TF-ID)'], row['Official Resource'],
                                                                            row['Numbers'], row['Exclamation/Interrogation'], row['Quotes']))
    qid += 1

Agora, um csv com o link e label (classificação de relevância) dos documentos retornados pelo Google da query/claim "COVID-19 vaccines cause infertility":

In [39]:
!cat covid-infertility.csv

https://www.muhealth.org/our-stories/does-covid-19-vaccine-affect-fertility-heres-what-experts-say,2
https://www.bu.edu/articles/2022/covid-vaccines-infertility/,3
https://www.sciencedaily.com/releases/2022/01/220120135142.htm,2
https://www.cdc.gov/coronavirus/2019-ncov/vaccines/planning-for-pregnancy.html,2
https://www.nih.gov/news-events/news-releases/covid-19-vaccination-does-not-reduce-chances-conception-study-suggests,3
https://www.health.gov.au/initiatives-and-programs/covid-19-vaccines/is-it-true/is-it-true-do-covid-19-vaccines-cause-infertility,2
https://portal.ct.gov/vaccine-portal/Vaccine-Knowledge-Base/Articles/Does-The-Vaccine-Cause-Infertility?language=en_US,2
https://womenshealthresearch.ubc.ca/blog/covid-19-vaccines-and-infertility-fact-or-fiction,2
https://www.nbcnews.com/health/sexual-health/covid-vaccine-doesnt-cause-infertility-disease-might-rcna2868,3
https://www.unicef.org/montenegro/en/stories/vaccine-against-covid-19-does-not-cause-sterility,2
https://www.chop.edu/centers-programs/vaccine-education-center/video/do-covid-19-vaccines-cause-infertility,2
https://www.webmd.com/vaccines/covid-19-vaccine/news/20210112/why-covid-vaccines-are-falsely-linked-to-infertility,3
https://jamanetwork.com/journals/jama/fullarticle/2781360,4
https://www.henryford.com/blog/2021/04/fertility-rumor-covid-vaccine,2
https://baptisthealth.net/baptist-health-news/the-truth-about-covid-19-vaccines-and-infertility/,2
https://vitalrecord.tamhsc.edu/covid-vaccines-and-infertility-fact-vs-fiction/,3

Criando um .dat formatado adequadamente para ser utilizado na ferramente SVM-Rank:

In [40]:
import csv
from newspaper import Article

art_dict = {}
test_texts = {}

cos_sim = 0
official_resource = 0
nc = 0
ff = 0
fqc = 0

with open('covid-infertility.csv') as csv_file:
    claim = 'COVID-19 vaccines cause infertility'
    test_texts[claim] = []
    csv_reader = csv.reader(csv_file, delimiter=',')

    labels = []
    for row in csv_reader:
      article = Article(row[0])
      article.download()
      article.parse()
      test_texts[claim].append(article.meta_description + ' ' + article.text)
      labels.append(int(row[1]))

    cos_sim = cos_similarity(test_texts)
    official_resource = 0
    nc = find_number_count(test_texts)
    ff = find_freq_relations(test_texts)
    fqc = find_quote_count(test_texts)

    with open('search_engine.dat', 'w') as se:
      for col in range(0, 16):
        se.write("{} qid:{} 1:{:.1f} 2:{} 3:{:.1f} 4:{:.1f} 5:{:.1f}\n".format(labels[col], 1, cos_sim[claim][col], official_resource, nc[claim][col], ff[claim][col], fqc[claim][col]))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [41]:
!cat search_engine.dat

2 qid:1 1:0.2 2:0 3:0.0 4:1.0 5:0.3
3 qid:1 1:0.2 2:0 3:0.1 4:1.0 5:0.0
2 qid:1 1:0.2 2:0 3:0.0 4:1.0 5:0.0
2 qid:1 1:0.3 2:0 3:0.1 4:1.0 5:0.0
3 qid:1 1:0.1 2:0 3:0.1 4:1.0 5:0.1
2 qid:1 1:0.4 2:0 3:0.0 4:0.9 5:0.0
2 qid:1 1:0.3 2:0 3:0.0 4:0.9 5:0.0
2 qid:1 1:0.2 2:0 3:0.1 4:0.9 5:0.0
3 qid:1 1:0.2 2:0 3:0.0 4:1.0 5:0.0
2 qid:1 1:0.2 2:0 3:0.0 4:0.9 5:0.1
2 qid:1 1:0.1 2:0 3:0.0 4:0.6 5:0.0
3 qid:1 1:0.1 2:0 3:0.0 4:0.9 5:0.1
4 qid:1 1:0.0 2:0 3:0.3 4:1.0 5:0.0
2 qid:1 1:0.3 2:0 3:0.1 4:0.9 5:0.2
2 qid:1 1:0.1 2:0 3:0.0 4:0.0 5:0.0
3 qid:1 1:0.1 2:0 3:0.1 4:0.8 5:0.2